---
Checks: >
	-*,
	bugprone-*,
	clang-analyzer-*,
	misc-*,
	modernize-*,
	performance-*,
	portability-*,
	readability-*,
	-cppcoreguidelines-*,
	-llvm-*,
	-llvmlibc-*,
	-misc-non-private-member-variables-in-classes,
	-modernize-use-trailing-return-type,
	-readability-identifier-length,
	-readability-magic-numbers,
	-readability-named-parameter,
	-readability-uppercase-literal-suffix,
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '50'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
...
